<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head> 
    <meta http-equiv="Content-Type"
	  content="text/html; charset=UTF-8" /> 
    <title>Air Space map</title> 
    <script type="text/javascript">
      var global_csrf_token = '{{ csrf_token }}';
      var static_root = '{{ STATIC_URL }}';
    </script>

    <script type="text/javascript" src="{{ STATIC_URL }}lib/OpenLayers.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/airspace.js"></script> 

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jQGeoSearch.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/flot/jquery.flot.crosshair.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/flot/jquery.flot.navigate.js"></script> 
    <script type="text/javascript" src="{{ STATIC_URL }}js/flot/jquery.flot.selection.js"></script> 
    <script type="text/javascript" src="{{ STATIC_URL }}js/flot/jquery.flot.fillbetween.js"></script> 

    <script type="text/javascript" src="{{ STATIC_URL }}js/file-upload/fileuploader.js"></script> 
    <script type="text/javascript" src="{{ STATIC_URL }}js/date.js"></script> 
 
    <link rel="stylesheet" href="{{ STATIC_URL }}style2.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}style-amap.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}js/file-upload/fileuploader.css"
    	  type="text/css" />

     <!-- Not 100% convinced that this is a correct way to handle -->
     <!-- CSRF with Ajax... -->
     <!-- http://stackoverflow.com/questions/5407463/how-to-use-post-with-django  -->
     <!-- seems to go this way... But still... Not 100% sure :) -->
</head> 
  <body> 
    <!-- <form id="debug"><input type="submit" name"debug"/> </form> -->

    <div id="content">
      <h1>AIRSPACE</h1>
      <div>
	<ul>
	  <li>CECI EST UNE DÉMO TECHNIQUE, PAS UN PRODUIT FINI. JE TRAVAILLE SUR LA
	    MÉCANIQUE INTERNE AVANT DE CRÉER UNE INTERFACE UTILISATEUR BIEN PENSÉE
	    !</li>
      <li>Remarques/Questions: dkm CHEZ kataplop.net</li>
      <li>Code
	source: <a href="http://github.com/dkm">http://github.com/dkm</a></li>
	</ul>
	</div>
      <div id="map" class="smallmap"></div>
      <div id="charts">
	<div id="chart-placeholder"></div> 
	<div id="chart-vertical"></div>
      </div>
    </div>

    <div id="left">
      <fieldset>
      <form id="name-query" action="#">
	<p>
	  <input type="text" id="name-query-id" name="name-query-search" size="14" />
          <input type="submit" name="name-query" value="Find airspace"/>
	</p>
      </form>
      </fieldset>

      <fieldset id="nominatim-box">
      <div id="location-name-search-id"></div>
      </fieldset>
      
      <form id="update-visible-apiv1" action="#">
	<p>
	  <input type="submit" name="update-visible-apiv1" value="Refresh Airspace"/>
	</p>
      </form>

      <form>
	<p>
	  <input type="checkbox" id="automatic-update-visible" name="automatic-update-visible"
	  checked="checked" /> automatic update.
	</p>
      </form>
      
      <form>
	<fieldset>
	  <legend>Displayed classes</legend>
	  <p id="airspace-class-filter">
	  </p>
	</fieldset>
      </form>

      <form action="#">
	<p>
	  Search radius in m for point selection : <input type="text" id="radius-search" name="radius-search" value="5000" />
          <br />
          Limit height to (filter out airspace above) : <input type="text"
							       id="height-limit"
          name="height-limit" value="4000" size="4" />m <br />
	  (0 : unlimited)
	</p>
      </form>

      <div id="file-uploader">       
	<noscript>          
          <p>Please enable JavaScript to use file uploader.</p>
          <!-- or put a simple form for upload here -->
	</noscript>
      </div>

      <div id="zone_count">Zone Count:</div>
      <div id="inter_count">Intersections Count:</div>

      <ul id="controlToggle"> 
        <li> 
          <input type="radio" name="type" value="none" id="noneToggle"
                 onclick="toggleControl(this);" checked="checked" /> 
          <label for="noneToggle">navigate</label> 
        </li> 
        <li> 
          <input type="radio" name="type" value="point" id="pointToggle" onclick="toggleControl(this);" /> 
          <label for="pointToggle">draw point</label> 
        </li> 
        <li> 
          <input type="radio" name="type" value="path" id="pathToggle" onclick="toggleControl(this);" /> 
          <label for="lineToggle">draw path</label> 
        </li> 
      </ul>
      <div id="spinner-ajax-load"></div>

      <div id="highlighted"></div> 
    </div> <!-- left -->

    <script defer="defer" type="text/javascript"> 
       var cb_class_filters="";
       for(var clazz in airspace_classes) {
             cb_class_filters+=
             "<input type=\"checkbox\" id=\"classfilter" + clazz + "\" name=\"" + airspace_classes[clazz] + "\"" +
                  "value=\"none\" class=\"classfilter-class\"checked=\"checked\" " + "  />" +
                  airspace_classes[clazz] + "<br/>";

       }
       $('#airspace-class-filter').html(cb_class_filters);

       $('.classfilter-class').change( function() {
          var i = 0;
          selected_airspaces_classes = [];
          $('.classfilter-class').each( function() {
             if ($(this).prop('checked'))
                selected_airspaces_classes.push($(this).prop('name'));
             refreshFilter();
          } );
          refreshVisibleView();
      } );



	$('#spinner-ajax-load').hide();
	$('#spinner-ajax-load').html('<img src="{{ STATIC_URL}}img/ajax-loader.gif" alt="loading"/> Loading data from remote server...');
        var map = new OpenLayers.Map('map', {
	                projection: new OpenLayers.Projection("EPSG:900913"),
                        displayProjection: new OpenLayers.Projection("EPSG:4326"),
                        panMethod: OpenLayers.Easing.Quad.easeInOut,
                        panDuration: 50,
	});
	

        // projection here is useless as it is applied only on objects created by the library.
        // here, we are creating the objects and then using the addFeature().
	var vectors = new OpenLayers.Layer.Vector("space", {
	        projection: new OpenLayers.Projection("EPSG:4326"),
                styleMap: styleMap,
                renderers: renderer
	});

	var path_vectors = new OpenLayers.Layer.Vector("path", {
	        projection: new OpenLayers.Projection("EPSG:4326"),
                styleMap: styleMap,
               renderers: renderer
	});


	map.addLayers([vectors, path_vectors]);

//        var wms = new OpenLayers.Layer.WMS( "OpenLayers WMS",
//            "http://vmap0.tiles.osgeo.org/wms/vmap0", {layers: 'basic'} );
 
        var osm = new OpenLayers.Layer.OSM();
	osm.transitionEffect = 'resize';

	osm.setIsBaseLayer(true);
        map.addLayers([osm]);

//	var layerCycleMap = new OpenLayers.Layer.OSM("t@h",
//	                 "http://tah.openstreetmap.org/Tiles/tile/${z}/${x}/${y}.png");

	var layerCycleMap = new OpenLayers.Layer.OSM("CycleMap", "http://a.tile.opencyclemap.org/cycle/${z}/${x}/${y}.png",
                     {tileOptions : {crossOriginKeyword: null}}
                  );
	layerCycleMap.transitionEffect = 'resize';

//	var layerCycleMap = new OpenLayers.Layer.OSM("CycleMap", "http://a.thunderflames.org/tiles/cycle/${z}/${x}/${y}.png");
	layerCycleMap.setIsBaseLayer(true);
	map.addLayer(layerCycleMap);
 
	var layer_switcher = new OpenLayers.Control.LayerSwitcher();
	map.addControl(layer_switcher);

        var highlightCtrl = new OpenLayers.Control.SelectFeature(vectors, {
                hover: true,
                highlightOnly: true,
                renderIntent: "temporary",
            });
	highlightCtrl.handlers.feature.stopDown = false;
	map.addControl(highlightCtrl);

	// don't change this name.
	// it is used in displayZoneInfo to get coordinates
	// of the click as this info is not
	// provided to the handler...
	var globalSelectCtrl = new OpenLayers.Control.SelectFeature(vectors,
                {clickout: true,
	         onSelect: displayZoneInfo,
	        }
            );
	globalSelectCtrl.handlers.feature.stopDown = false;
	map.addControl(globalSelectCtrl);

        map.addControl(new OpenLayers.Control.MousePosition());

	var update_visible_airspace = function(evt){
	    $('#spinner-ajax-load').show();

            refreshVisibleView();
	};

	var automaticUpdate = function (b) { 
	      if (b) {
                   $('#automatic-update-visible').prop("checked", true).change();
              } else {
                   $('#automatic-update-visible').prop("checked", false).change();
              }
        };

	map.events.register("moveend", map, update_visible_airspace);

	$('#automatic-update-visible').change(function(){
                 if (this.checked) {
                      map.events.register("moveend", map, update_visible_airspace);
                 } else {
                     map.events.unregister("moveend", map, update_visible_airspace);
                 }

        });

        highlightCtrl.activate();
        layer_switcher.activate();
	globalSelectCtrl.activate();

//	map.events.register("mousemove", map, function(e) { 
//                var position = this.events.getMousePosition(e);
//                OpenLayers.Util.getElement("coords").innerHTML = position;
//        });

        // center on Grenoble. Easier for debug :)
        map.setCenter(new OpenLayers.LonLat(5.72, 45.18).transform(map.displayProjection, map.projection), 10);
        
	$('#interload').submit(function() {
	   $.getJSON($('#interurl').val(), function(data){
	      $.each(data, function(index, inter) {
	           displayIntersection(map, inter);
	      });
	   });
	   return false;
	});
 
        $('#name-query').submit( function () {
            $.getJSON('/api/v1/airspacesID/name/?format=json&q=' + $('#name-query-id').val(), 
                      function(data) {
	                   getAndDisplay(vectors, data.map(function(x){return x.id;}));
                      });
            return false;
        });

        $('#update-visible-apiv1').submit( function () {
	    $('#spinner-ajax-load').show();
            refreshVisibleView();
            return false;
        });


	// for line drawing selection
	var path_control_done = function (path) {
            automaticUpdate(false);
            $('#spinner-ajax-load').show();

	    var path_copy = path.clone()
	    path.transform(map.projection, map.displayProjection);
	    var tmp_str = path.toString();
	    var path_str = tmp_str.substring(11, tmp_str.length-2);
            
	    $.getJSON('/api/v1/intersections/path/?format=json&q=' + path_str +
                                                             '&h=' + $('#height-limit').val(),
	              function(data) {
                          // display crossed zones
                          getAndDisplay(vectors, data.airspaces_id);
                          trackDisplay(data, path_copy);
                      });
        };
	
	// for point selection
        var pnt_control_done = function (point) {
             automaticUpdate(false);
             point.transform(map.projection, map.displayProjection);
             $('#spinner-ajax-load').show();
             $.getJSON('/api/v1/airspacesID/point/?limit=0&format=json&q=' + point.x + ',' + point.y +'&r=' + $('#radius-search').val(), 
                       function(data) {
	                   getAndDisplay(vectors, data.map(function(x){return x.id;}));
                        });
                    };

        var drawControls = {
                    point: new OpenLayers.Control.DrawFeature(path_vectors,
                               OpenLayers.Handler.Point,
	                       { "callbacks": { "done": pnt_control_done} }),
                    path: new OpenLayers.Control.DrawFeature(path_vectors,
	                        OpenLayers.Handler.Path,
                                {"callbacks": { "done": path_control_done}}),
            };
 
       for(var key in drawControls) {
             map.addControl(drawControls[key]);
       }

        var uploader = new qq.FileUploader( {
            action: "/airspace/json/trackup",
            element: $('#file-uploader')[0],
            multiple: false,
            onSubmit : function( id, fileName) {
               automaticUpdate(false);
               $('#spinner-ajax-load').show();
            },
            onComplete: function( id, fileName, data ) {
               if (!data.success) {
                   $('#spinner-ajax-load').hide();
                   return;
               }

               // display crossed zones
               getAndDisplay(vectors, data.airspaces_id);

               trackDisplay(data);
            },
            params: {
               'csrf_token': global_csrf_token,
               'csrf_name': 'csrfmiddlewaretoken',
               'csrf_xname': 'X-CSRFToken',
               'h-limit' : $('#height-limit').val(),
           },
        } ) ;

	function loadAS(asid){
           $.getJSON('/airspace/json/' + asid, 
                     function(data) {
	                    displaySingleAirspace(map, data);
                     });
        };

        function toggleControl(element) {
                for(key in drawControls) {
                    var control = drawControls[key];
                    if(element.value == key && element.checked) {
                        control.activate();
                    } else {
                        control.deactivate();
                    }
                }
         }

	$("#location-name-search-id").geoSearch({
            service: "nominatim",
            handler: function(r) {
                    map.setCenter(new OpenLayers.LonLat(r.lngLat.lng, r.lngLat.lat).transform(map.displayProjection, map.projection), 15);
           }
        });

      </script> 
 </body> 
</html> 
