<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head> 
    <title>Air Space map</title> 
    <script src="{{ STATIC_URL }}OpenLayers.js"></script> 
    <script src="{{ STATIC_URL }}js/airspace.js"></script> 
    <script src="{{ STATIC_URL }}js/jquery-1.5.1.js"></script> 

 
    <link rel="stylesheet" href="{{ STATIC_URL }}style2.css" type="text/css"> 
    <link rel="stylesheet" href="{{STATIC_URL }}style.css" type="text/css"> 
 
</head> 
  <body> 
        <form id="debug"><input type="submit" name"debug"/> </form>
	<div id="coords"></div> <field><label>Zone Count</label><div id="zone_count"></div></field>

        <div id="map" class="smallmap"></div> 
	<div id="highlighted"></div> 
	<div id="info"></div> 

	<ul>
          {% for as in as_list %}
          <li><a href="#" onclick='loadAS({{ as.id }});'>{{ as.name }}</a></li>
          {% endfor %}
	</ul>


	<form id="interload"> 
	  Inter: <input type="text" id="interurl" name="interurl" /> <br /> 
	  <input type="submit" name="load" /> 
	</form> 
 
	<script defer="defer" type="text/javascript"> 

        var map = new OpenLayers.Map('map', {
	                projection: new OpenLayers.Projection("EPSG:900913"),
                        displayProjection: new OpenLayers.Projection("EPSG:4326")
	});
 
//        var wms = new OpenLayers.Layer.WMS( "OpenLayers WMS",
//            "http://vmap0.tiles.osgeo.org/wms/vmap0", {layers: 'basic'} );
 
        var osm = new OpenLayers.Layer.OSM();
	osm.setIsBaseLayer(true);
 
        map.addLayers([osm]);
 
	/* displayAirspace(map, spaces); */

	var layer_switcher = new OpenLayers.Control.LayerSwitcher();
	map.addControl(layer_switcher);
        layer_switcher.activate();

        map.addControl(new OpenLayers.Control.MousePosition());

	map.events.register("mousemove", map, function(e) { 
                var position = this.events.getMousePosition(e);
                OpenLayers.Util.getElement("coords").innerHTML = position;
        });

        map.setCenter(new OpenLayers.LonLat(1, 1).transform(map.displayProjection, map.projection), 5);
        
	$('#interload').submit(function() {
	   $.getJSON($('#interurl').val(), function(data){
	      $.each(data, function(index, inter) {
	           displayIntersection(map, inter);
	      });
	   });
	   return false;
	});
 
        $('#debug').submit( function () {
            bounds = map.getExtent().transform(map.projection, map.displayProjection);
            $.getJSON('/airspace/json/bbox/' + bounds.toBBOX(), 
                      function(data) {
	                   OpenLayers.Util.getElement("zone_count").innerHTML = data;
                      });
            return false;
        });

	function loadAS(asid){
           $.getJSON('/airspace/json/' + asid, 
                     function(data) {
	                    displaySingleAirspace(map, data);
                     });
        };
      </script> 
 </body> 
</html> 
