<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head> 
    <title>Air Space map</title> 
    <script src="{{ STATIC_URL }}OpenLayers.js"></script> 
    <script src="{{ STATIC_URL }}js/airspace.js"></script> 
    <script src="{{ STATIC_URL }}js/jquery-1.5.1.js"></script> 

 
    <link rel="stylesheet" href="{{ STATIC_URL }}style2.css" type="text/css"> 
    <link rel="stylesheet" href="{{STATIC_URL }}style.css" type="text/css"> 
 
</head> 
  <body> 
        <form id="debug"><input type="submit" name"debug"/> </form>

        <form id="debug2">
	  <input type="submit" name"debug"/>
	  <div id="spinner-ajax-load"></div>
	</form>

	<div id="coords"></div> <field><label>Zone Count</label><div id="zone_count"></div></field>
        <div id="map" class="smallmap"></div> 
	<div id="highlighted"></div> 
	<div id="info"></div> 

	<div id="zone-info"> </div>
	<!-- <form id="interload">  -->
	<!--   Inter: <input type="text" id="interurl" name="interurl" /> <br />  -->
	<!--   <input type="submit" name="load" />  -->
	<!-- </form>  -->
 
	<script defer="defer" type="text/javascript"> 
	$('#spinner-ajax-load').hide();
	$('#spinner-ajax-load').html('<img src="{{ STATIC_URL }}img/ajax-loader.gif"/>');
        var map = new OpenLayers.Map('map', {
	                projection: new OpenLayers.Projection("EPSG:900913"),
                        displayProjection: new OpenLayers.Projection("EPSG:4326")
	});


        // projection here is useless as it is applied only on objects created by the library.
        // here, we are creating the objects and then using the addFeature().
	var vectors = new OpenLayers.Layer.Vector("space", {
	        projection: new OpenLayers.Projection("EPSG:4326"),
                styleMap: styleMap,
               renderers: renderer
	});

	map.addLayers([vectors]);

//        var wms = new OpenLayers.Layer.WMS( "OpenLayers WMS",
//            "http://vmap0.tiles.osgeo.org/wms/vmap0", {layers: 'basic'} );
 
        var osm = new OpenLayers.Layer.OSM();
	osm.setIsBaseLayer(true);
 
        map.addLayers([osm]);
 
	var layer_switcher = new OpenLayers.Control.LayerSwitcher();
	map.addControl(layer_switcher);

        var highlightCtrl = new OpenLayers.Control.SelectFeature(vectors, {
                hover: true,
                highlightOnly: true,
                renderIntent: "temporary",
            });
	map.addControl(highlightCtrl);

	var selectCtrl = new OpenLayers.Control.SelectFeature(vectors,
                {clickout: true,
	         onSelect: displayZoneInfo,
                 onUnselect: clearZoneInfo,
	        }
            );
	map.addControl(selectCtrl);

        map.addControl(new OpenLayers.Control.MousePosition());

        highlightCtrl.activate();
        layer_switcher.activate();
	selectCtrl.activate();

	map.events.register("mousemove", map, function(e) { 
                var position = this.events.getMousePosition(e);
                OpenLayers.Util.getElement("coords").innerHTML = position;
        });

        map.setCenter(new OpenLayers.LonLat(1, 1).transform(map.displayProjection, map.projection), 5);
        
	$('#interload').submit(function() {
	   $.getJSON($('#interurl').val(), function(data){
	      $.each(data, function(index, inter) {
	           displayIntersection(map, inter);
	      });
	   });
	   return false;
	});
 
        $('#debug').submit( function () {
            bounds = map.getExtent().transform(map.projection, map.displayProjection);
            $.getJSON('/airspace/json/bbox/' + bounds.toBBOX(), 
                      function(data) {
	                   displayAirspaces(map, vectors, data);
                      });
            return false;
        });

        $('#debug2').submit( function () {
	    $('#spinner-ajax-load').show();
            bounds = map.getExtent().transform(map.projection, map.displayProjection);
            $.getJSON('/airspace/json/bbox/id/' + bounds.toBBOX(), 
                      function(data) {
                           var i = new Array();
	                   $.each(data, function(index){
                               i.push(data[index]['pk']);
                           });
	                   getAndDisplay(vectors, i);
                      });
            return false;
        });

	function loadAS(asid){
           $.getJSON('/airspace/json/' + asid, 
                     function(data) {
	                    displaySingleAirspace(map, data);
                     });
        };
      </script> 
 </body> 
</html> 
