div#chart-placeholder {
    left:0px;
    right: 110px;
    height:150px;
    float:left; 
}

div#chart-vertical {
    width:100px;
    height:150px;
    float: left;
}


#nominatim-box input[type=text] { 
    /* width : 100%; */
}

#nominatim-box input.find { 
    
}

/* div#charts div { */
/*     float: left; */
/* } */